{
  "openapi": "3.1.0",
  "info": {
    "title": "Icon",
    "version": "v0.0.1"
  },
  "servers": [
    {
      "url": "https://tracker.icon.community"
    },
    {
      "url": "https://lisbon.tracker.icon.community"
    },
    {
      "url": "https://berlin.tracker.icon.community"
    },
    {
      "url": "https://balanced.icon.community"
    }
  ],
  "paths": {
    "/api/v1/governance/preps": {
      "get": {
        "tags": [
          "Governance",
          "icon"
        ],
        "summary": "Get Preps",
        "description": "Return list of preps which is limitted to 150 records so no skip.",
        "operationId": "get_preps_api_v1_governance_preps_get",
        "parameters": [
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "boolean",
              "title": "Penalties"
            },
            "name": "penalties",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "boolean",
              "title": "Failure Count"
            },
            "name": "failure_count",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "boolean",
              "title": "Include Unregistered",
              "default": false
            },
            "name": "include_unregistered",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "boolean",
              "title": "Has Public Key"
            },
            "name": "has_public_key",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "boolean",
              "title": "In Jail"
            },
            "name": "in_jail",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "Sort"
            },
            "name": "sort",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "address": {
                        "type": "string",
                        "title": "Address"
                      },
                      "name": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Name"
                      },
                      "country": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Country"
                      },
                      "city": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "City"
                      },
                      "email": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Email"
                      },
                      "website": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Website"
                      },
                      "details": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Details"
                      },
                      "node_address": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Node Address"
                      },
                      "public_key": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Public Key"
                      },
                      "node_state": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Node State"
                      },
                      "status": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Status"
                      },
                      "penalty": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Penalty"
                      },
                      "grade": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Grade"
                      },
                      "last_updated_block": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Last Updated Block"
                      },
                      "last_updated_timestamp": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Last Updated Timestamp"
                      },
                      "created_block": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Created Block"
                      },
                      "created_timestamp": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Created Timestamp"
                      },
                      "logo_256": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Logo 256"
                      },
                      "logo_1024": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Logo 1024"
                      },
                      "logo_svg": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Logo Svg"
                      },
                      "steemit": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Steemit"
                      },
                      "twitter": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Twitter"
                      },
                      "youtube": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Youtube"
                      },
                      "facebook": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Facebook"
                      },
                      "github": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Github"
                      },
                      "reddit": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Reddit"
                      },
                      "keybase": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Keybase"
                      },
                      "telegram": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Telegram"
                      },
                      "wechat": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Wechat"
                      },
                      "api_endpoint": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Api Endpoint"
                      },
                      "metrics_endpoint": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Metrics Endpoint"
                      },
                      "p2p_endpoint": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "P2P Endpoint"
                      },
                      "server_country": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Server Country"
                      },
                      "server_city": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Server City"
                      },
                      "server_type": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Server Type"
                      },
                      "voted": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Voted"
                      },
                      "voting_power": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Voting Power"
                      },
                      "delegated": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Delegated"
                      },
                      "stake": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Stake"
                      },
                      "irep": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Irep"
                      },
                      "irep_updated_block_height": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Irep Updated Block Height"
                      },
                      "total_blocks": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Total Blocks"
                      },
                      "validated_blocks": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Validated Blocks"
                      },
                      "unvalidated_sequence_blocks": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Unvalidated Sequence Blocks"
                      },
                      "bonded": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Bonded"
                      },
                      "bond_percent": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Bond Percent"
                      },
                      "power": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Power"
                      },
                      "sponsored_cps_grants": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Sponsored Cps Grants"
                      },
                      "cps_governance": {
                        "type": "boolean",
                        "title": "Cps Governance",
                        "default": false
                      },
                      "penalties": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Penalties"
                      },
                      "failure_count": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Failure Count"
                      },
                      "reward_monthly": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Reward Monthly"
                      },
                      "reward_monthly_usd": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Reward Monthly Usd"
                      },
                      "reward_daily": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Reward Daily"
                      },
                      "reward_daily_usd": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Reward Daily Usd"
                      },
                      "stakers": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Stakers"
                      },
                      "bonders": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Bonders"
                      },
                      "jail_flags": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Jail Flags"
                      },
                      "unjail_request_height": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Unjail Request Height"
                      },
                      "max_commission_change_rate": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Max Commission Change Rate"
                      },
                      "max_commission_rate": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Max Commission Rate"
                      },
                      "commission_rate": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Commission Rate"
                      },
                      "min_double_sign_height": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Min Double Sign Height"
                      },
                      "has_public_key": {
                        "anyOf": [
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Has Public Key"
                      }
                    },
                    "type": "object",
                    "required": [
                      "address"
                    ],
                    "title": "Prep"
                  },
                  "type": "array",
                  "title": "Response Get Preps Api V1 Governance Preps Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "items": {
                        "properties": {
                          "loc": {
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            },
                            "type": "array",
                            "title": "Location"
                          },
                          "msg": {
                            "type": "string",
                            "title": "Message"
                          },
                          "type": {
                            "type": "string",
                            "title": "Error Type"
                          }
                        },
                        "type": "object",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "title": "ValidationError"
                      },
                      "type": "array",
                      "title": "Detail"
                    }
                  },
                  "type": "object",
                  "title": "HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/governance/preps/{address}": {
      "get": {
        "tags": [
          "Governance",
          "icon"
        ],
        "summary": "Get Preps By Address",
        "description": "Return a single prep.",
        "operationId": "get_preps_by_address_api_v1_governance_preps__address__get",
        "parameters": [
          {
            "required": true,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "Address"
            },
            "name": "address",
            "in": "path",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "address": {
                        "type": "string",
                        "title": "Address"
                      },
                      "name": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Name"
                      },
                      "country": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Country"
                      },
                      "city": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "City"
                      },
                      "email": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Email"
                      },
                      "website": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Website"
                      },
                      "details": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Details"
                      },
                      "node_address": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Node Address"
                      },
                      "public_key": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Public Key"
                      },
                      "node_state": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Node State"
                      },
                      "status": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Status"
                      },
                      "penalty": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Penalty"
                      },
                      "grade": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Grade"
                      },
                      "last_updated_block": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Last Updated Block"
                      },
                      "last_updated_timestamp": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Last Updated Timestamp"
                      },
                      "created_block": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Created Block"
                      },
                      "created_timestamp": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Created Timestamp"
                      },
                      "logo_256": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Logo 256"
                      },
                      "logo_1024": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Logo 1024"
                      },
                      "logo_svg": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Logo Svg"
                      },
                      "steemit": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Steemit"
                      },
                      "twitter": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Twitter"
                      },
                      "youtube": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Youtube"
                      },
                      "facebook": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Facebook"
                      },
                      "github": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Github"
                      },
                      "reddit": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Reddit"
                      },
                      "keybase": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Keybase"
                      },
                      "telegram": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Telegram"
                      },
                      "wechat": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Wechat"
                      },
                      "api_endpoint": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Api Endpoint"
                      },
                      "metrics_endpoint": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Metrics Endpoint"
                      },
                      "p2p_endpoint": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "P2P Endpoint"
                      },
                      "server_country": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Server Country"
                      },
                      "server_city": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Server City"
                      },
                      "server_type": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Server Type"
                      },
                      "voted": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Voted"
                      },
                      "voting_power": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Voting Power"
                      },
                      "delegated": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Delegated"
                      },
                      "stake": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Stake"
                      },
                      "irep": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Irep"
                      },
                      "irep_updated_block_height": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Irep Updated Block Height"
                      },
                      "total_blocks": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Total Blocks"
                      },
                      "validated_blocks": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Validated Blocks"
                      },
                      "unvalidated_sequence_blocks": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Unvalidated Sequence Blocks"
                      },
                      "bonded": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Bonded"
                      },
                      "bond_percent": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Bond Percent"
                      },
                      "power": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Power"
                      },
                      "sponsored_cps_grants": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Sponsored Cps Grants"
                      },
                      "cps_governance": {
                        "type": "boolean",
                        "title": "Cps Governance",
                        "default": false
                      },
                      "penalties": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Penalties"
                      },
                      "failure_count": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Failure Count"
                      },
                      "reward_monthly": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Reward Monthly"
                      },
                      "reward_monthly_usd": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Reward Monthly Usd"
                      },
                      "reward_daily": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Reward Daily"
                      },
                      "reward_daily_usd": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Reward Daily Usd"
                      },
                      "stakers": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Stakers"
                      },
                      "bonders": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Bonders"
                      },
                      "jail_flags": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Jail Flags"
                      },
                      "unjail_request_height": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Unjail Request Height"
                      },
                      "max_commission_change_rate": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Max Commission Change Rate"
                      },
                      "max_commission_rate": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Max Commission Rate"
                      },
                      "commission_rate": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Commission Rate"
                      },
                      "min_double_sign_height": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Min Double Sign Height"
                      },
                      "has_public_key": {
                        "anyOf": [
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Has Public Key"
                      }
                    },
                    "type": "object",
                    "required": [
                      "address"
                    ],
                    "title": "Prep"
                  },
                  "type": "array",
                  "title": "Response Get Preps By Address Api V1 Governance Preps  Address  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "items": {
                        "properties": {
                          "loc": {
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            },
                            "type": "array",
                            "title": "Location"
                          },
                          "msg": {
                            "type": "string",
                            "title": "Message"
                          },
                          "type": {
                            "type": "string",
                            "title": "Error Type"
                          }
                        },
                        "type": "object",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "title": "ValidationError"
                      },
                      "type": "array",
                      "title": "Detail"
                    }
                  },
                  "type": "object",
                  "title": "HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/governance/delegations/{address}": {
      "get": {
        "tags": [
          "Governance",
          "icon"
        ],
        "summary": "Get Delegations By Address",
        "description": "Return list of delegations.",
        "operationId": "get_delegations_by_address_api_v1_governance_delegations__address__get",
        "parameters": [
          {
            "required": true,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "Address"
            },
            "name": "address",
            "in": "path",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "title": "Skip",
              "default": 0
            },
            "name": "skip",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "exclusiveMaximum": 101.0,
              "exclusiveMinimum": 0.0,
              "title": "Limit",
              "default": 100
            },
            "name": "limit",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "address": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Address"
                      },
                      "prep_address": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Prep Address"
                      },
                      "value": {
                        "type": "string",
                        "title": "Value"
                      },
                      "last_updated_block": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Last Updated Block"
                      }
                    },
                    "type": "object",
                    "required": [
                      "address",
                      "prep_address",
                      "value"
                    ],
                    "title": "Delegation"
                  },
                  "type": "array",
                  "title": "Response Get Delegations By Address Api V1 Governance Delegations  Address  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "items": {
                        "properties": {
                          "loc": {
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            },
                            "type": "array",
                            "title": "Location"
                          },
                          "msg": {
                            "type": "string",
                            "title": "Message"
                          },
                          "type": {
                            "type": "string",
                            "title": "Error Type"
                          }
                        },
                        "type": "object",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "title": "ValidationError"
                      },
                      "type": "array",
                      "title": "Detail"
                    }
                  },
                  "type": "object",
                  "title": "HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/governance/votes/{address}": {
      "get": {
        "tags": [
          "Governance",
          "icon"
        ],
        "summary": "Get Votes By Address",
        "description": "Return list of votes.",
        "operationId": "get_votes_by_address_api_v1_governance_votes__address__get",
        "parameters": [
          {
            "required": true,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "Address"
            },
            "name": "address",
            "in": "path",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "title": "Skip",
              "default": 0
            },
            "name": "skip",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "exclusiveMaximum": 101.0,
              "exclusiveMinimum": 0.0,
              "title": "Limit",
              "default": 100
            },
            "name": "limit",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "address": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Address"
                      },
                      "prep_address": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Prep Address"
                      },
                      "value": {
                        "type": "string",
                        "title": "Value"
                      },
                      "last_updated_block": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Last Updated Block"
                      }
                    },
                    "type": "object",
                    "required": [
                      "address",
                      "prep_address",
                      "value"
                    ],
                    "title": "Delegation"
                  },
                  "type": "array",
                  "title": "Response Get Votes By Address Api V1 Governance Votes  Address  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "items": {
                        "properties": {
                          "loc": {
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            },
                            "type": "array",
                            "title": "Location"
                          },
                          "msg": {
                            "type": "string",
                            "title": "Message"
                          },
                          "type": {
                            "type": "string",
                            "title": "Error Type"
                          }
                        },
                        "type": "object",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "title": "ValidationError"
                      },
                      "type": "array",
                      "title": "Detail"
                    }
                  },
                  "type": "object",
                  "title": "HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/governance/proposals": {
      "get": {
        "tags": [
          "Governance",
          "icon"
        ],
        "summary": "Get Proposals",
        "description": "Return list of proposals",
        "operationId": "get_proposals_api_v1_governance_proposals_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "id": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Id"
                      },
                      "proposer": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Proposer"
                      },
                      "proposer_name": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Proposer Name"
                      },
                      "status": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Status"
                      },
                      "start_block_height": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Start Block Height"
                      },
                      "end_block_height": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "End Block Height"
                      },
                      "contents_json": {
                        "anyOf": [
                          {
                            "type": "object"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Contents Json"
                      },
                      "title": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Title"
                      },
                      "description": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Description"
                      },
                      "type": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Type"
                      },
                      "agree_count": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Agree Count"
                      },
                      "agree_amount": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Agree Amount"
                      },
                      "disagree_count": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Disagree Count"
                      },
                      "disagree_amount": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Disagree Amount"
                      },
                      "no_vote_count": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "No Vote Count"
                      },
                      "no_vote_amount": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "No Vote Amount"
                      }
                    },
                    "type": "object",
                    "title": "Proposal"
                  },
                  "type": "array",
                  "title": "Response Get Proposals Api V1 Governance Proposals Get"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/governance/rewards/{address}": {
      "get": {
        "tags": [
          "Governance",
          "icon"
        ],
        "summary": "Get Rewards By Address",
        "description": "Return list of delegations.",
        "operationId": "get_rewards_by_address_api_v1_governance_rewards__address__get",
        "parameters": [
          {
            "required": true,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "Address"
            },
            "name": "address",
            "in": "path",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "title": "Skip",
              "default": 0
            },
            "name": "skip",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "exclusiveMaximum": 101.0,
              "exclusiveMinimum": 0.0,
              "title": "Limit",
              "default": 100
            },
            "name": "limit",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "tx_hash": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Tx Hash"
                      },
                      "address": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Address"
                      },
                      "block": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Block"
                      },
                      "timestamp": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Timestamp"
                      },
                      "value": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Value"
                      },
                      "iscore": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "Iscore"
                      }
                    },
                    "type": "object",
                    "required": [
                      "tx_hash",
                      "address"
                    ],
                    "title": "Reward"
                  },
                  "type": "array",
                  "title": "Response Get Rewards By Address Api V1 Governance Rewards  Address  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "items": {
                        "properties": {
                          "loc": {
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            },
                            "type": "array",
                            "title": "Location"
                          },
                          "msg": {
                            "type": "string",
                            "title": "Message"
                          },
                          "type": {
                            "type": "string",
                            "title": "Error Type"
                          }
                        },
                        "type": "object",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "title": "ValidationError"
                      },
                      "type": "array",
                      "title": "Detail"
                    }
                  },
                  "type": "object",
                  "title": "HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/governance/stats/apy/time": {
      "get": {
        "tags": [
          "Governance",
          "icon"
        ],
        "summary": "Get Apy Over Time",
        "description": "Return a time series of APY over time along with other governance stats like total\n delegation / stake and the governance variables needed derive APY.",
        "operationId": "get_apy_over_time_api_v1_governance_stats_apy_time_get",
        "parameters": [
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "title": "Start Timestamp"
            },
            "name": "start_timestamp",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "title": "End Timestamp"
            },
            "name": "end_timestamp",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "title": "Skip",
              "default": 0
            },
            "name": "skip",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "exclusiveMaximum": 101.0,
              "exclusiveMinimum": 0.0,
              "title": "Limit",
              "default": 100
            },
            "name": "limit",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "timestamp": {
                        "type": "integer",
                        "title": "Timestamp"
                      },
                      "height": {
                        "type": "integer",
                        "title": "Height"
                      },
                      "i_global": {
                        "type": "number",
                        "title": "I Global"
                      },
                      "i_prep": {
                        "type": "number",
                        "title": "I Prep"
                      },
                      "i_cps": {
                        "type": "number",
                        "title": "I Cps"
                      },
                      "i_relay": {
                        "type": "number",
                        "title": "I Relay"
                      },
                      "i_voter": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "I Voter"
                      },
                      "i_wage": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "title": "I Wage"
                      },
                      "staking_apy": {
                        "type": "number",
                        "title": "Staking Apy"
                      },
                      "prep_apy": {
                        "type": "number",
                        "title": "Prep Apy"
                      },
                      "total_delegated": {
                        "type": "number",
                        "title": "Total Delegated"
                      },
                      "total_stake": {
                        "type": "number",
                        "title": "Total Stake"
                      },
                      "total_bonded": {
                        "type": "number",
                        "title": "Total Bonded"
                      },
                      "total_power": {
                        "type": "number",
                        "title": "Total Power"
                      },
                      "total_wage": {
                        "type": "number",
                        "title": "Total Wage"
                      },
                      "active_preps": {
                        "type": "integer",
                        "title": "Active Preps"
                      }
                    },
                    "type": "object",
                    "required": [
                      "timestamp",
                      "height",
                      "i_global",
                      "i_prep",
                      "i_cps",
                      "i_relay",
                      "i_voter",
                      "i_wage",
                      "staking_apy",
                      "prep_apy",
                      "total_delegated",
                      "total_stake",
                      "total_bonded",
                      "total_power",
                      "total_wage",
                      "active_preps"
                    ],
                    "title": "ApyTime"
                  },
                  "type": "array",
                  "title": "Response Get Apy Over Time Api V1 Governance Stats Apy Time Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "items": {
                        "properties": {
                          "loc": {
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            },
                            "type": "array",
                            "title": "Location"
                          },
                          "msg": {
                            "type": "string",
                            "title": "Message"
                          },
                          "type": {
                            "type": "string",
                            "title": "Error Type"
                          }
                        },
                        "type": "object",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "title": "ValidationError"
                      },
                      "type": "array",
                      "title": "Detail"
                    }
                  },
                  "type": "object",
                  "title": "HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/governance/stats/commission/time": {
      "get": {
        "tags": [
          "Governance",
          "icon"
        ],
        "summary": "Get Commission Over Time",
        "description": "Return a time series of commission statistics over time.",
        "operationId": "get_commission_over_time_api_v1_governance_stats_commission_time_get",
        "parameters": [
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "title": "Start Timestamp"
            },
            "name": "start_timestamp",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "title": "End Timestamp"
            },
            "name": "end_timestamp",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "title": "Skip",
              "default": 0
            },
            "name": "skip",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "exclusiveMaximum": 1001.0,
              "exclusiveMinimum": 0.0,
              "title": "Limit",
              "default": 1000
            },
            "name": "limit",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "timestamp": {
                        "type": "integer",
                        "title": "Timestamp"
                      },
                      "height": {
                        "type": "integer",
                        "title": "Height"
                      },
                      "commission_rate_average": {
                        "type": "number",
                        "title": "Commission Rate Average"
                      },
                      "commission_rate_weighted_average": {
                        "type": "number",
                        "title": "Commission Rate Weighted Average"
                      },
                      "commission_rate_median": {
                        "type": "number",
                        "title": "Commission Rate Median"
                      },
                      "commission_rate_max": {
                        "type": "number",
                        "title": "Commission Rate Max"
                      },
                      "commission_rate_min": {
                        "type": "number",
                        "title": "Commission Rate Min"
                      },
                      "commission_rate_stdev": {
                        "type": "number",
                        "title": "Commission Rate Stdev"
                      },
                      "commission_rate_weighted_stdev": {
                        "type": "number",
                        "title": "Commission Rate Weighted Stdev"
                      },
                      "max_commission_change_rate_average": {
                        "type": "number",
                        "title": "Max Commission Change Rate Average"
                      },
                      "max_commission_change_rate_weighted_average": {
                        "type": "number",
                        "title": "Max Commission Change Rate Weighted Average"
                      },
                      "max_commission_change_rate_median": {
                        "type": "number",
                        "title": "Max Commission Change Rate Median"
                      },
                      "max_commission_change_rate_max": {
                        "type": "number",
                        "title": "Max Commission Change Rate Max"
                      },
                      "max_commission_change_rate_min": {
                        "type": "number",
                        "title": "Max Commission Change Rate Min"
                      },
                      "max_commission_change_rate_stdev": {
                        "type": "number",
                        "title": "Max Commission Change Rate Stdev"
                      },
                      "max_commission_change_rate_weighted_stdev": {
                        "type": "number",
                        "title": "Max Commission Change Rate Weighted Stdev"
                      },
                      "max_commission_rate_average": {
                        "type": "number",
                        "title": "Max Commission Rate Average"
                      },
                      "max_commission_rate_weighted_average": {
                        "type": "number",
                        "title": "Max Commission Rate Weighted Average"
                      },
                      "max_commission_rate_median": {
                        "type": "number",
                        "title": "Max Commission Rate Median"
                      },
                      "max_commission_rate_max": {
                        "type": "number",
                        "title": "Max Commission Rate Max"
                      },
                      "max_commission_rate_min": {
                        "type": "number",
                        "title": "Max Commission Rate Min"
                      },
                      "max_commission_rate_stdev": {
                        "type": "number",
                        "title": "Max Commission Rate Stdev"
                      },
                      "max_commission_rate_weighted_stdev": {
                        "type": "number",
                        "title": "Max Commission Rate Weighted Stdev"
                      }
                    },
                    "type": "object",
                    "required": [
                      "timestamp",
                      "height",
                      "commission_rate_average",
                      "commission_rate_weighted_average",
                      "commission_rate_median",
                      "commission_rate_max",
                      "commission_rate_min",
                      "commission_rate_stdev",
                      "commission_rate_weighted_stdev",
                      "max_commission_change_rate_average",
                      "max_commission_change_rate_weighted_average",
                      "max_commission_change_rate_median",
                      "max_commission_change_rate_max",
                      "max_commission_change_rate_min",
                      "max_commission_change_rate_stdev",
                      "max_commission_change_rate_weighted_stdev",
                      "max_commission_rate_average",
                      "max_commission_rate_weighted_average",
                      "max_commission_rate_median",
                      "max_commission_rate_max",
                      "max_commission_rate_min",
                      "max_commission_rate_stdev",
                      "max_commission_rate_weighted_stdev"
                    ],
                    "title": "CommissionTime"
                  },
                  "type": "array",
                  "title": "Response Get Commission Over Time Api V1 Governance Stats Commission Time Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "items": {
                        "properties": {
                          "loc": {
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            },
                            "type": "array",
                            "title": "Location"
                          },
                          "msg": {
                            "type": "string",
                            "title": "Message"
                          },
                          "type": {
                            "type": "string",
                            "title": "Error Type"
                          }
                        },
                        "type": "object",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "title": "ValidationError"
                      },
                      "type": "array",
                      "title": "Detail"
                    }
                  },
                  "type": "object",
                  "title": "HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/governance/stats": {
      "get": {
        "tags": [
          "Governance",
          "icon"
        ],
        "summary": "Get Governance Stats",
        "description": "Get stats - single entry json.",
        "operationId": "get_governance_stats_api_v1_governance_stats_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "timestamp": {
                      "type": "integer",
                      "title": "Timestamp"
                    },
                    "stakers": {
                      "type": "integer",
                      "title": "Stakers"
                    },
                    "bonders": {
                      "type": "integer",
                      "title": "Bonders"
                    }
                  },
                  "type": "object",
                  "required": [
                    "timestamp",
                    "stakers",
                    "bonders"
                  ],
                  "title": "Stats"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/contracts": {
      "get": {
        "tags": [
          "Contracts",
          "icon"
        ],
        "summary": "Get Contracts",
        "description": "Return list of contracts",
        "operationId": "get_contracts_api_v1_contracts_get",
        "parameters": [
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "title": "Skip",
              "default": 0
            },
            "name": "skip",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "exclusiveMaximum": 101.0,
              "exclusiveMinimum": 0.0,
              "title": "Limit",
              "default": 100
            },
            "name": "limit",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "string",
              "title": "Contract Type"
            },
            "name": "contract_type",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": false,
            "schema": {
              "type": "boolean",
              "title": "Is Token"
            },
            "name": "is_token",
[...]
