# Basics
loguru~=0.7.2
prometheus_client==0.11.0
pydantic
pydantic_settings

# DB
#asyncpg==0.24.0
asyncpg
psycopg2-binary
alembic
SQLAlchemy
sqlmodel
# Change this when this pr is merged and released - Pydantic 2 + SQLAlchemy 2 upgrade
# https://github.com/tiangolo/sqlmodel/pull/632
# git+https://github.com/honglei/sqlmodel.git@main#egg=sqlmodel
# OLD VERSIONS
# SQLAlchemy~=1.4.41
# sqlmodel==0.0.8

